* {
    /* box-sizing: border-box;
    margin: 0;
    padding: 0; */
    font-family: Arial, sans-serif;
}

.body {
    background: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.form-box h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-box {
    margin-bottom: 15px;
    text-align: left;
}

.input-box label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.input-box input {
    width: 92%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s;
}

.input-box input:focus {
    border-color: #1877f2;
    outline: none;
}

.form-login-button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #1877f2;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.form-login-button:hover {
    background-color: #165ebf;
}


