body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  header .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  header .logo span {
    font-size: 0.9rem;
    font-weight: normal;
    color: #ccc;
  }
  
  .login-button {
    color: #000000;
    font-size: 1.2rem;
    text-decoration: none;
    
    margin-right: 10rem;

  }
  
  main {
    padding: 80px 20px 20px; /* Adjust padding to account for fixed header */
    max-width: 1200px;
    margin: auto;
  }
  
  .products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .product {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 300px;
    margin-right: 5rem;
    text-align: center;
    padding: 2px;
    transition: transform 0.2s ease-in-out;
  }
  
  .product:hover {
    transform: translateY(-5px);
  }
  
  .product .image {
    position: relative;
    margin-right: 20rem;
  }
  
  .product .image img {
    width: 60vh;
    height: auto;
    border-bottom: 1px solid #ddd;
    
  }
  
  .product .image .sale {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #e74c3c;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
  }
  
  .product .info {
    padding: 15px;
  }
  
  .product .info .categories {
    font-size: 0.9rem;
    color: #999;
    margin-bottom: 10px;
  }
  
  .product .info .name {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0;
    color: #333;
  }
  
  .product .info .price {
    font-size: 1.1rem;
    color: #e74c3c;
    margin: 10px 0;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin: 0;
    font-size: 0.9rem;
  }
  