.request-form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .request-form-container {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 500px;
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
  }
  
  .request-form-container h2 {
    margin-bottom: 20px;
    color: #4a4a4a;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-group-row {
    display: flex;
    justify-content: space-between;
  }
  
  .form-group-row .form-group {
    flex: 1;
  }
  
  .form-group-row .form-group:not(:last-child) {
    margin-right: 10px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #4a4a4a;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 2px solid rgb(173, 173, 173);
    border-radius: 10px;
    margin: 10px 0;
    color: black;
    box-sizing: border-box;
    padding-left: 10px;
  }
  
  .form-group textarea {
    height: auto;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #4a90e2;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background: #357abd;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .form-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .cancel-button {
    background: #d9534f;
  }
  
  .cancel-button:hover {
    background: #c9302c;
  }
  
  .submit-button {
    background: #4a90e2;
  }
  
  .submit-button:hover {
    background: #357abd;
  }
  