body, html {
    overflow: hidden;
  }
  
  .app {
    display: flex;
    height: 100vh; /* Ensures the app container takes the full height of the viewport */
  }
  
  .sidebar {
    width: 250px;
    height: 100%; /* Full height of the container */
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    position: fixed; /* Fixes the sidebar to the left of the screen */
    left: 0;
    top: 0;
    bottom: 0;
    box-sizing: border-box; /* Ensure padding is included in the width and height */
  }
  
  .sidebar-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .sidebar-icon {
    font-size: 2rem;
    margin-right: 10px;
  }
  
  .sidebar-menu {
    width: 100%;
    flex-grow: 1;
  }
  
  .menu-item {
    width: 100%;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
    box-sizing: border-box; /* Ensure padding is included in the width */
  }
  
  .menu-item:hover,
  .menu-item.active {
    background-color: #00bcd4;
  }
  
  .menu-icon {
    margin-right: 10px;
    font-size: 1.2rem;
  }
  
  .sidebar-footer {
    width: 100%;
  }
  
  .upgrade-button {
    width: 100%;
    padding: 15px 20px;
    background-color: #00bcd4;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-sizing: border-box; /* Ensure padding is included in the width */
  }
  
  .upgrade-icon {
    margin-right: 10px;
  }
  
  .main-content {
    margin-left: 250px; 
    flex-grow: 1;
    padding: 20px;
    height: 100vh; 
    overflow-y: auto;
  }
  .log-out{
    margin-top: 20rem;
  }
  