.app-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.dashboard-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex-grow: 1;
}

.main-content .sidenav {
  flex-shrink: 0;
}

.main-content .main-dashboard {
  flex-grow: 1;
  padding: 20px;
}
